@font-face {
  font-family: AmzonEmber;
  src: url(assets/fonts/AmazonEmber_Lt.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: AmzonEmber;
}

header {
  background-color: #00050d;
}
nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 80vw;
}
.nav-logo {
  margin: 0 48px 0 24px;
}
.nav-links,
.nav-userhandle {
  font-weight: 700;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-userhandle {
  margin-left: 48px;
}

.nav-links > li,
.nav-userhandle > li {
  display: flex;
  align-items: center;
  color: #aaa;
  padding: 0 16px;
  font-size: 18px;
  height: 48px;
  text-wrap: nowrap;
  letter-spacing: 0.02em;
}
.nav-links > li > img,
.nav-userhandle > li > img {
  width: 25px;
}

.nav-links :hover,
.nav-userhandle :hover {
  background-color: #191e25;
  color: white;
}

#welcome-prime {
  background: linear-gradient(to right, #000 40%, transparent 58%),
    url(assets/images/welcome-img.jpg);
  background-position: right top;
  background-size: cover;
}

.prime-section {
  display: flex;
  color: white;
  height: 100vh;
}
.prime-section > .panel {
  display: flex;
  margin: 3%;
  width: 50vw;
}
.side-box > h2 {
  font-size: 45px;
  font-weight: 100;
  margin-bottom: 20px;
}
.side-box > p {
  font-size: 24px;
}

.side-box > a {
  width: 15vw;
  display: inline-block;
  margin: 10px 0;
  font-size: 17px;
  text-decoration: none;
  color: white;
  padding: 13px 55px;
  font-weight: 600;
  background-color: #0f79af;
  border-radius: 3px;
  text-align: center;
}
.side-box > a :hover {
  background-color: #00a0d6;
}

#rent-prime {
  background: linear-gradient(to right, #000 40%, transparent 58%),
    url(assets/images/more-in-prime.jpg);
  height: 73vh;
  background-position: right top;
  background-size: cover;
}

.rentel-box{
  margin: 0;
  padding: 50px 62px;
  width: 60vw;
}
.rentel-box > h2{
  width: 35vw;
  font-weight: 900;
  font-size: 40px;
}
.rentel-box > p{
  font-size: 21px;
  margin-bottom: 50px;
}
.rentel-box > a{
  padding: 13px 45px;
  font-weight: 500;
}